*{
    margin: 0;
    padding: 0;
}

nav {
    display: block;
    unicode-bidi: isolate;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 120px;
    top: 0;
    background-color: rgb(220, 153, 60);
}

.navbar img {
    width: 110px;
    margin-bottom: 20px;
}
.navbar p{
    font-family: 'Black Ops One', cursive;
}